#root {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
}

#inputs {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

#prompt {
  width: 100%;
  margin-bottom: 20px;
}

#prompt input {
  width: 100%; 
  height: 60px; 
  font-size: 18px; 
  padding: 10px; 
}


#container {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  flex-direction: column;
  padding: 4rem;
}

#output {
  width: 60%;
  border: 3px solid #D0A933;
  background-color: #1f1f1f;
  margin-left: 10rem;
}

#header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

#content {
  display: flex;
  padding-bottom: 10rem;
}


